@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Regular.ttf");
}

* {
    font-family: "Roboto Mono", monospace;
    color: #fff;
}

html {
    background-color: #000;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1em;
}

#wrapper {
    width: 100vw;
    display: flex;
}

#info-gauge {
    width: 20vw;
}

#left-gauge, #right-gauge {
    width: 100%;
}

.gauge-wrapper {
    width: 40vw;
    height: 100%;
}

.gauge-wrapper > h1, .gauge-wrapper > h2 {
    text-align: center;
    margin: 0;
}
